@font-face {
  font-family: 'Verlag Black';
  src: url('./fonts/Verlag-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Verlag Black';
}

img {
  pointer-events: none;
  user-select: none;
}
